/node_modules
/public/storage
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

composer\.lock
